<head>
  <link href= "/public/stylehome.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b9da89aac3.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
</head>
<div class="starting-content">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <i class="fab fa-tripadvisor fa-3x "></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item chill ">
            <a class="nav-link active" aria-current="page" href="#">  Home  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/client/dashboard">my bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid ">


  <div class="samaa">
    <p>ENJOY THE BEST DESTINATIONS WITH OUR TRAVEL AGENCY</p>
    <h1>EXPLORE THE MALDIVESsss</h1>
    <a href="http://localhost:3000/client/home">start booking</a>
  
  </div>
</div>
</div>
<div class="container-fluid aboutus">
  <h4>About us</h4>
  <div class="container" >
    <div class="row">
    <div class="col-lg-6 col-md-3 col-sm-3">
      <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-2">
          <img src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVhbXdvcmt8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="" class="imglong">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
             <img src="https://getsling.com/wp-content/uploads/2018/10/pasted-image-0-4.png" alt="">
             <img src="https://media.glassdoor.com/l/18/aa/0b/da/corporate-office-company-photo.jpg" alt="">
        </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-3  col-sm-3">
    <p><b>We Organize Intresting Trips In Maldives</b></p>
    <p>our team has been working throughout maldivies for 10 years.we have counted hunderds of travels and thousands of satisfied customers.This is not inclusive but a real unforgetable adventure that you will remeber for a lifetime
    We’ve been travelling the world for over 30 years, building a reputation for providing quality travel content that’s inspiring, engaging and informative. With all of our guides and features written and updated by a global network of expert travel writers that includes some of the best names in the business, we pride ourselves on producing content that stands out from the crowd</p>
   </div>
    </div>
  </div>
 </div>
  <div class="our container-fluid">
  <h5>Our Services</h5>
  <div class=" container">
    <div class="row">
      <div class="col-lg-3 col-sm-12 ">
        <i class="fas fa-map-marked-alt fa-3x iconsize"></i>
        <h3>Trip planning</h3>
        <p class="activity">we provide a best ,safe and healthy travel options by reducing cost of travel and room exepenses</p>
      </div>
      <div class="col-lg-3 col-sm-12">
         <i class="fas fa-car fa-3x iconsize"></i>
         <h3>Car rentals</h3>
         <p class="activity">we provide best and cheap cars</p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <i class="fas fa-user-tie fa-3x iconsize"></i>
        <h3>Tourist guiders</h3>
        <p class="activity">we provides tourist guiders to make your explore easier</p>
      </div>
    <div class="col-lg-3 col-sm-12">
         <i class="fas fa-hotel fa-3x iconsize"></i>
        <h3>Hotel booking</h3>
        <p class="activity">we provides best and beautiful resorts  </p>
        <p></p>
    </div>
    </div>
  </div>
  </div>
  <div class="container-fluid boss">


  <h5>Most Popular places</h5>
  <div class="container">
    <div class="row contentdiv">
      <div class="col-lg-6">
                 <img src="https://images.thrillophilia.com/image/upload/s--UQcJdeYG--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/346/193/original/1598096485_Fulhadhoo_Island.jpg.jpg" alt="" class="sura">
      </div>
       <div class="col-lg-6">
         <h6>FULHANDOO ISLAND</h6>
         <p class="contentimg">Packed with clear lagoons, shady palm trees, white sand beaches, and a serene ambiance, Fulhadhoo happens to be one of the most tranquilizing islands in Maldives. Counted among the least explored and most isolated islands of the country, this place holds a plethora of hidden treasures.
         </p>
       </div>
    </div>
    <div class="row contentdiv">
      <div class="col-lg-6">
        <h6>SUN ISLAND</h6>
        <p class="contentimg">Known popularly as Nalaguraidhoo Island, the Sun Island happens to be one of the top places to see in Maldives. Adorned with lavish greenery, fragrant tropical flowers, and stunning beaches, this place propels a myriad of visitors wanting to relax in the arms of nature.
The island assures the maximum joy and pleasure to the vacationers with its fabulous resorts, sparkling blue waters, and flamboyant shores. Owing to its incredible virgin beauty and true serenity, this place is counted among the best destinations for holidays.</p>
      </div>
       <div class="col-lg-6">
           <img src="https://images.thrillophilia.com/image/upload/s--zxo6xxl4--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/346/195/original/1598096988_Sun_Island.jpg.jpg" alt="" class="sura">
       </div>
    </div>
    <div class="row contentdiv">
      <div class="col-lg-6">
      <img src="https://images.thrillophilia.com/image/upload/s--d6tDJtBv--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/349/823/original/1599125246_National-Art-Gallery.jpg.jpg" alt="" class="sura">
      </div>
       <div class="col-lg-6 contentdiv">
           <h6>NATIONAL ART GALLERY</h6>
           <p class="contentimg">Built back in 1999, National Art Gallery is one of the most intriguing places to visit in Maldives Male. This beautiful art gallery conducts regular events and exhibitions and showcases brilliant local and global artworks</p>
       </div>
    </div>
    <div class="row contentdiv">
      <div class="col-lg-6">
        <h6>SEA</h6>
        <p class="contentimg">Taking underwater dining to the next level, SEA is a spectacular undersea restaurant that offers you much more than delicious gourmet cuisine. Flaunting an exotic collection of fine wines that span over nine decades, the restaurant calls itself one of Maldives best places for a lavish fine dining experience.
        </p>
      </div>
       <div class="col-lg-6">

         <img src="https://images.thrillophilia.com/image/upload/s--avRJ0EKW--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/346/232/original/1598099607_SEA_resturant.jpg.jpg" alt="" class="sura">
       </div>
    </div>
  </div>
</div>
<div class="container-fluid puli">
<h5> What Our Customer Says</h5>
<div class="container bigil">
    <div class="row">
      <div class="col-lg-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                 <div class="row">
                   <div class="col-lg-4">
                     <div class="single-box">
                       <div class="img-area"><img src="https://api.time.com/wp-content/uploads/2017/06/kit-harringon.jpg" alt=""></div>
                         <div class="img-text">
                           <h1>name</h1>
                            <p>"It was a wonderful experience for us. All your arrangements were up to the mark.
All hotels and transportation arrangements were excellent."</p>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="single-box">
                          <div class="img-area"><img src="https://api.time.com/wp-content/uploads/2017/06/kit-harringon.jpg" alt=""></div>
                            <div class="img-text">
                              <h1>name</h1>
                               <p>"Your service was great and we will be recommending your company to our friends for future travel."</p>
                           </div>
                         </div>
                        </div>
                         <div class="col-lg-4">
                           <div class="single-box">
                             <div class="img-area"><img src="https://api.time.com/wp-content/uploads/2017/06/kit-harringon.jpg" alt=""></div>
                               <div class="img-text">
                                 <h1>name</h1>
                                  <p>"Service was efficient and booking process very user-friendly. I would definitely book through travel online again."</p>
                              </div>
                         </div>
                      </div>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="single-box">
                        <div class="img-area"><img src="https://api.time.com/wp-content/uploads/2017/06/kit-harringon.jpg" alt=""></div>
                          <div class="img-text">
                            <h1>name</h1>
                             <p>"We have booked our Heron Island holiday with you for many years and are very happy with your service."</p>
                         </div>
                       </div>
                       </div>
                       <div class="col-lg-4">
                         <div class="single-box">
                           <div class="img-area"><img src="https://api.time.com/wp-content/uploads/2017/06/kit-harringon.jpg" alt=""></div>
                             <div class="img-text">
                               <h1>name</h1>
                                <p>"Very easy to book a much needed vacation with Travel Online. I loved coming home to a $100 gift voucher to use for my next booking Thank you"</p>
                            </div>
                          </div>
                         </div>
                          <div class="col-lg-4">
                            <div class="single-box">
                              <div class="img-area"><img src="https://api.time.com/wp-content/uploads/2017/06/kit-harringon.jpg" alt=""></div>
                                <div class="img-text">
                                  <h1>name</h1>
                                   <p>Very happy with your service, have used you twice now for travel and very happy with it</p>
                               </div>
                         </div>
                        </div>
                    </div>
                 </div>
            </div>
          </div>
       </div>
   </div>
</div>
</div>
<div class="container contactus">
   <div class="row">
     <div class="col-md-4">
         <div class="row contacting">
           <div class="col-md-2">
             <i class="fas fa-envelope fa-2x"></i>
           </div>
             <div class="col-md-10 podas">
               <h7>gmail</h7>
               <p>vickyvke0208@gmail.com</p>

             </div>

         </div>
         <div class="row contacting">
           <div class="col-md-2">
             <i class="fas fa-envelope fa-2x"></i>
           </div>
             <div class="col-md-10 podas">
               <h7>phonenumber</h7>
               <p>8667536310</p>

             </div>

         </div>
         <div class="row contacting">
           <div class="col-md-2">
            <i class="fas fa-map-marker-alt fa-2x"></i>
           </div>
             <div class="col-md-10 podas">
               <h7>adress</h7>

               <p>psg college of technology</p>
               <p>peelamedu</p>
               <p>coimbatore 632301</p>

             </div>

         </div>

     </div>
     <div class="col-md-6 container comment">
          <form class="" action="index.html" method="post">
            <div class="commentsection">
              <label for="name"></label>
              <input id="name" type="text" name="" value="" placeholder="enter your name">
              <p></p>
              <label for="names"></label>
              <input id="names" type="email" name="" value="" placeholder="enter your email">
              <label for="named"></label>
              <p></p>
              <textarea name="" rows="6" cols="60" placeholder="enter your comments"></textarea>
              <p></p>
              <button type="submit" class="btn btn-dark">submit</button>

              </div>

          </form>

     </div>
   </div>

</div>
